.GameGridTileView {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: blue;
  font-size: 10px;
  color: white;
  justify-content: center;
  align-items: center;

  &__CenterTile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 255, 0);
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
  }
}