.GameViewGrid {
  display: flex;
  width: 98%;
  height: 98%;
  background-color: #ad5d5d;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  border-radius: 10px;
}