.GameViewGridTile {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #576287;
  font-size: 10px;
  color: white;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #3a5479;
  }

  &__DEV__CenterTile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 255, 0);
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
  }

  &__DEV__WalkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #57877a;
  }
}