.AppRouter {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #b76c6c;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}